extends ../../../templates/Rbase

block body
    .container
        .row
            .card
                .card-header
                    .row.text-center
                        h2 Budget Report
                    .row
                        .col-md-8
                            p#Name Program Name:
                            p#Coordinator Program Coordinator:
                        .col-md-4
                            p#Year Year:
                    hr
                .card-body
                    .row    
                        .col-md-6
                            canvas#bar
                    .row
                        .col
                            table.table.table-striped.table-bordered
                                thead
                                    tr
                                        th Budget
                                        th Actual
                                        th Remaining
                                tbody
                                    tr
                                        td#budget
                                        td#actual
                                        td#remaining
    script.
        $(function(){
            $.ajax({
                url:'/coordinator/tryreport',
                method:'POST',
                success:function(response){
                    console.log(response)
                    $('td#budget').html('&#8369; '+response[0].budget.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $('td#actual').html('&#8369; '+response[0].actual.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $('td#remaining').html('&#8369; '+response[0].remaining.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $('p#Name').html('Program Name: '+response[0].sponsor.strSTDesc)
                    $('p#Coordinator').html('Program Coordinator: '+response[0].coordinator)
                    $('p#Year').html('Year: '+response[0].year)
                    var budgetBar = new Chart($('canvas#bar'),{
                        type: 'bar',
                        data:{
                            labels: [response[0].year],
                            datasets:[{
                                label: 'Actual',
                                data: [response[0].actual],
                                backgroundColor: "rgba(255,60,60,0.8)"  
                            },{
                                label: 'Budget',
                                data: [response[0].budget],
                                backgroundColor: "rgba(60,60,255,0.8)"
                            },{
                                label: 'Remaining',
                                data: [response[0].remaining],
                                backgroundColor: "rgba(60,255,60,0.8)"
                            }]
                        },
                        options: {
                            scales : {
                                yAxes : [{
                                    ticks : {
                                        beginAtZero:true,
                                        min: 0,
                                        max: Math.max(response[0].budget)*1.2,
                                        stepSize: (Math.max(response[0].budget)*1.2)/5
                                    }   
                                }]
                            }
                        }   
                    })    
                }
            })
        })