extends ../../../templates/masterpanel

block content
    .content
        .container-fluid
          .row
            .col-lg-6
              .card.card-stats
                .card-header.card-header-warning.card-header-icon
                  .card-icon
                    i.material-icons supervisor_account
                  |                         
                  p.card-category Applicants
                  |                         
                  h3.card-title 2,000
                |                       
                .card-footer
                  .stats
                    i.material-icons warning
                    |  Number of Applicants
            |                   
            .col-lg-6
              .card.card-stats
                .card-header.card-header-rose.card-header-icon
                  .card-icon
                    i.material-icons school
                  |                         
                  p.card-category Scholars
                  |                         
                  h3.card-title 3,000
                |                       
                .card-footer
                  .stats
                    i.material-icons local_offer
                    |  Scholar Count
          .row                     
            .col-lg-6
              .card.card-stats
                .card-header.card-header-success.card-header-icon
                  .card-icon
                    i.material-icons local_parking
                  |                         
                  p.card-category Budget
                  |                         
                  h3.card-title &#8369;10,000,000
                |                       
                .card-footer
                  .stats
                    i.material-icons date_range
                    |  Allotted Budget
            |                   
            .col-lg-6
              .card.card-stats
                .card-header.card-header-info.card-header-icon
                  .card-icon
                    i.material-icons storage
                  |                         
                  p.card-category Slots
                  |                         
                  h3.card-title 400
                |                       
                .card-footer
                  .stats
                    i.material-icons update
                    |  Remaining Slots
            
        //
                                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-link" data-toggle="dropdown">
                                        7 days
                                        </button>
    footer.footer
      .container-fluid
        nav.float-left
          ul
            li
              a(href="#")
                | Application
            |               
            li
              a(href="#")
                | Budget
            |               
            li
              a(href="#")
                | Releasing
            |               
            li
              a(href="#")
                | Renewal
        |         
        .copyright.float-right
          | © &nbsp;
          script.
            document.write(new Date().getFullYear())
          |  made with 
          i.material-icons.text-rose favorite
          |  by
          |             
          |  Scholarship Managememt Team
          |  for a better future.

        
    script.
      $(document).ready(function(){
          md.showNotification('top','center')
      })