extends ../../../templates/Fmaster

block content
    .page-header(data-parallax="true", style="background-image: url('../img/bg5.png')")
        .filter
        |     
        .content-center
            .container
                .motto
                    img(src="../img/logo1.png", alt="logo", style="height: 150px; width: 150px;")
                    h1.title(style="font-weight: bold;") SCHOLARSHIP MANAGEMENT SYSTEM
                    |           
                    h5.description In the middle of difficulty lies opportunity. Apply now and be a part of this program!
                    |           
                    br
                    |           
                    a.btn.btn-neutral.btn-lg(href="#", data-toggle='modal', data-target='#applyModal')
                        | Apply Now!
                    #applyModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="false")
                            .modal-dialog.modal-register(style="margin-top: -18px;")
                                .modal-content
                                    .modal-header.text-center
                                        button.close(type="button", data-dismiss="modal", aria-label="Close", style="margin-top: -5%;")
                                            span(aria-hidden="true") × 
                                        |                 
                                        h4.modal-title(style="font-weight: 600;")
                                            
                                                    img(src="/img/logo.png", alt="", style="margin-top:-15px; height: 100px; width: 100px;")
                                                    | Terms & Conditions
                                    form(action="#", method="#")           
                                        .modal-body(style="height: 315px; overflow-y: auto;")
                                            h6 Overview:
                                            p(style="text-indent: 50px; font-size: 13.5px;") This is a Scholarship Management System for the City of Mandaluyong, intended for the ongoing grantees and new applicants who are enrolled or will enroll in any curriculum year level in recognized programs of Private Higher Education Institution (HEI's) and LUC's or authorized programs of SUC's, to provide financial assistance to deserving students. 
                                            br
                                            h6 Benefits:
                                            p(style="text-indent: 50px; font-size: 13.5px;") A student grantee shall be entitled to a maximum of Twelve Thousand Pesos (Php12, 000.00) grant per academic year which may be use in support for the cost of higher education (Tuition and Other School Fees, educational expenses and cost of living allowance).
                                            p(style="text-indent: 50px; font-size: 13.5px;") Ongoing grantees shall be entitled to same amount of financial benefits they received prior to the approval of the Joint Memorandum Circular.
                                            br
                                            h6 Qualification:
                                            p(style="font-size: 13.5px;") The qualification requirements are as follows:
                                            p(style="text-indent: 10px; font-size: 13.5px;") 1.	Must be Filipino Citizen; 
                                            p(style="text-indent: 10px; font-size: 13.5px;") 2.	Must be a bonafide resident of Mandaluyong City;
                                            p(style="text-indent: 10px; font-size: 13.5px;") 3.	High school graduate, with earned units in higher education with at least a passing general weighted average (GWA); or passer of Alternative Learning System (ALS)/Philippine educational Placement Test (PEPT). Must have passed any College Entrance Test; if already enrolled , must have earned a general weighted average (GWA) of at least 3 (75%); and 
                                            p(style="text-indent: 10px; font-size: 13.5px;") 4.	Combined annual gross income of parents/guardian not to exceed Three Hundred Thousand Pesos (Php3000, 000.00). 
                                            p(style="text-indent: 10px; font-size: 13.5px;") 5.	Must be in good moral character.	
                                            br
                                            h6 Important:
                                            p(style="font-size: 13.5px;") The GRANT is renewable every semester provided the recipient satisfies the following conditions:
                                            p(style="text-indent: 10px; font-size: 13.5px;") 1.	The Grantee shall carry a full semester load as prescribed in the course curriculum and finish within the normal duration of the course 
                                            p(style="text-indent: 10px; font-size: 13.5px;") 2.	The Grantee shall maintain the general weighted average of 3 in every semester, without any failed, dropped, or withdraw mark. 
                                            p(style="text-indent: 10px; font-size: 13.5px;") 3.	Must not have been held liable in any disciplinary action.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 4.	If a grantee had an incomplete mark in any subject, he/she shall be give a maximum of one semester to complete the same. Failure to do so within the period shall result to the suspension of the Grantees’ allowances for the ensuingsemester.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 5.	The Grantee should not be a recipient of any other scholarship granted by any other public or private institution.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 6.	Must not shift to another course or go on a leave of absence without prior approval of the Office of Scholarship and Student Services. Shifting of courses is allowed but only 4 years of the grantees’ degree including the shifted course will be covered exceeding years will not be included in the allowance.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 7.	The grantees are encourage to attend seminar/workshop or any academic related activities by the donor.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 8.	The final selection and confirmation on the award of the Educational Support to qualified students shall be done by the University through the Office of Scholarships and Student Services.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 9.	In case a grantee fails to meet any of the above conditions, he/she shall be automatically put on probation for the next semester and shall result to the suspension of the grantees’ allowance for the ensuing semester.
                                            br
                                            h6 Condition on Replacement and Termination:
                                            p(style="text-indent: 10px; font-size: 13.5px;") 1.	Replacement of grantee -  may be allowed within a given academic year as approved by CHEDRO, subject to the following conditions:
                                            p(style="text-indent: 17px; font-size: 13.5px;") a.	Failure to confirm acceptance of award within 15 working days upon receipt of the NOA;
                                            p(style="text-indent: 17px; font-size: 13.5px;") b.	Voluntary withdrawal of grant;
                                            p(style="text-indent: 17px; font-size: 13.5px;") c.	Transfer to a program not identified as recognized programs of Private HEIs and LCUs or authorized programs of SUC;
                                            p(style="text-indent: 17px; font-size: 13.5px;") d.	Dropped-out from school without notice; or
                                            p(style="text-indent: 17px; font-size: 13.5px;") e.	Waived the grant.
                                            p(style="font-size: 13.5px;") However, replacement shall only continue the remaining duration of the gran replaced grantee.
                                            p(style="text-indent: 10px; font-size: 13.5px;") 2.	Grounds for Termination, failure to;
                                            p(style="text-indent: 17px; font-size: 13.5px;") a.	Enroll in recognized programs of Private HEIs and LCUs or authorized programs of SUCs;
                                            p(style="text-indent: 17px; font-size: 13.5px;") b.	Maintain a GWA of at least a passing grade;
                                            p(style="text-indent: 17px; font-size: 13.5px;") c.	Carry a normal load per term.
                                            p(style="text-indent: 17px; font-size: 13.5px;") d.	Secure approval from CHEDRO concerned on dropping out from school, deferment of the grant, transferring to another program/HEI; or
                                            p(style="text-indent: 17px; font-size: 13.5px;") e.	Submit authentic documents.


                                        .modal-footer(style="padding-top: 40px;")
                                            .container
                                                .row
                                                    .col-md-6
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox", value="", required)
                                                                p(style="font-size: 13.5px;") I have read and agree to this Terms & Conditions.
                                                                |                               
                                                                span.form-check-sign
                                                    |                         
                                                    .col-md-6
                                                        a(href="/apply")
                                                            button.btn.btn-block.pull-right(type="button") Send Message

    .wrapper
        .section.text-center.landing-section
            .container
                .row
                    .col-md-8.ml-auto.mr-auto
                        h2.title Let's talk product
                        |             
                        h5
                            | This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.
                        |             
                        br
                        |             
                        a.btn.btn-fill(href="#paper-kit") See Details
                |         
                br
                |         
                br
                |         
                .row
                    .col-md-3
                        .info
                            .icon
                                i.nc-icon.nc-palette
                            |               
                            .description
                                h4.info-title Beautiful Gallery
                                |                 
                                p.description Spend your time generating new ideas. You don't have to think of implementing.
                                |                 
                                a.btn.btn-link.btn-danger(href="#pkp") See more
                    |           
                    .col-md-3
                        .info
                            .icon
                                i.nc-icon.nc-bulb-63
                            |               
                            .description
                                h4.info-title New Ideas
                                |                 
                                p Larger, yet dramatically thinner. More powerful, but remarkably power efficient.
                                |                 
                                a.btn.btn-link.btn-danger(href="#pkp") See more
                    |           
                    .col-md-3
                        .info
                            .icon
                                i.nc-icon.nc-chart-bar-32
                            |               
                            .description
                                h4.info-title Statistics
                                |                 
                                p Choose from a veriety of many colors resembling sugar paper pastels.
                                |                 
                                a.btn.btn-link.btn-danger(href="#pkp") See more
                    |           
                    .col-md-3
                        .info
                            .icon
                                i.nc-icon.nc-sun-fog-29
                            |               
                            .description
                                h4.info-title Delightful design
                                |                 
                                p
                                    | Find unique and handmade delightful designs related items directly from our sellers.
                                |                 
                                a.btn.btn-link.btn-danger(href="#pkp") See more
        |     
        .section.section-dark.text-center.landing-section
            .container
                h2.title Let's talk about us
                |         
                .row
                    .col-md-4
                        .card.card-profile.card-plain
                            .card-avatar
                                a(href="#avatar")
                                    img(src="../assets/img/faces/clem-onojeghuo-3.jpg", alt="...")
                            |               
                            .card-body
                                a(href="#paper-kit")
                                    .author
                                        h4.card-title Henry Ford
                                        |                     
                                        h6.card-category.text-muted Product Manager
                                |                 
                                p.card-description.text-center
                                    | Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            |               
                            .card-footer.text-center
                                a.btn.btn-link.btn-just-icon.btn-twitter(href="#pablo")
                                    i.fa.fa-twitter
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-dribbble(href="#pablo")
                                    i.fa.fa-dribbble
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-linkedin(href="#pablo")
                                    i.fa.fa-linkedin
                    |           
                    .col-md-4
                        .card.card-profile.card-plain
                            .card-avatar
                                a(href="#avatar")
                                    img(src="../assets/img/faces/joe-gardner-2.jpg", alt="...")
                            |               
                            .card-body
                                a(href="#paper-kit")
                                    .author
                                        h4.card-title Sophie West
                                        |                     
                                        h6.card-category.text-muted Designer
                                |                 
                                p.card-description.text-center
                                    | A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            |               
                            .card-footer.text-center
                                a.btn.btn-link.btn-just-icon.btn-twitter(href="#pablo")
                                    i.fa.fa-twitter
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-dribbble(href="#pablo")
                                    i.fa.fa-dribbble
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-linkedin(href="#pablo")
                                    i.fa.fa-linkedin
                    |           
                    .col-md-4
                        .card.card-profile.card-plain
                            .card-avatar
                                a(href="#avatar")
                                    img(src="../assets/img/faces/erik-lucatero-2.jpg", alt="...")
                            |               
                            .card-body
                                a(href="#paper-kit")
                                    .author
                                        h4.card-title Robert Orben
                                        |                     
                                        h6.card-category.text-muted Developer
                                |                 
                                p.card-description.text-center
                                    | The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            |               
                            .card-footer.text-center
                                a.btn.btn-link.btn-just-icon.btn-twitter(href="#pablo")
                                    i.fa.fa-twitter
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-dribbble(href="#pablo")
                                    i.fa.fa-dribbble
                                |                 
                                a.btn.btn-link.btn-just-icon.btn-linkedin(href="#pablo")
                                    i.fa.fa-linkedin
        |     
        .section.landing-section
            .container
                .row
                    .col-md-11.ml-auto.mr-auto
                        .card.card-contact.no-transition
                            h2.card-title.text-center Keep in touch?
                            |             
                            .row
                                .col-md-5.ml-auto
                                    .card-body
                                        .info.info-horizontal
                                            .icon.icon-info
                                                i.material-icons(aria-hidden="true", style="font-size: 40px;") room
                                            |                       
                                            .description
                                                h4.info-title Find us at the office
                                                |                         
                                                p
                                                    | Bld Mihail Kogalniceanu, nr. 8,
                                                    br
                                                    |  7652 Bucharest,
                                                    |                           
                                                    br
                                                    |  Romania
                                        |                     
                                        .info.info-horizontal
                                            .icon.icon-danger
                                                i.material-icons(aria-hidden="true", style="font-size: 40px;") call
                                            |                       
                                            .description
                                                h4.info-title Give us a ring
                                                |                         
                                                p
                                                    | Michael Jordan
                                                    br
                                                    |  +40 762 321 762
                                                    |                           
                                                    br
                                                    |  Mon - Fri, 8:00-22:00
                                |                 
                                .col-md-6.mr-auto
                                    form#contact-form(role="form", method="post")
                                        .card-body
                                            .row
                                                .col-md-6
                                                    .form-group.label-floating
                                                        label.control-label First name
                                                        |                             
                                                        input.form-control(type="text", name="name", placeholder="First Name")
                                                |                         
                                                .col-md-6
                                                    .form-group.label-floating
                                                        label.control-label Last name
                                                        |                             
                                                        input.form-control(type="text", name="name", placeholder="Last Name")
                                            .row
                                                .col-md-12                       
                                                    .form-group.label-floating
                                                        label.control-label Email address
                                                        |                         
                                                        input.form-control(type="email", name="email", placeholder="Email")
                                                    |                       
                                                    .form-group.label-floating
                                                        label.control-label Your message
                                                        |                         
                                                        textarea#message.form-control(name="message", rows="6", placeholder="Message")
                                                    |                       
                                            .row
                                                .col-md-6
                                                    .form-check
                                                        label.form-check-label
                                                            input.form-check-input(type="checkbox", value="")
                                                            |  I'm not a robot !
                                                            |                               
                                                            span.form-check-sign
                                                |                         
                                                .col-md-6
                                                    button.btn.btn-block.pull-right(type="submit") Send Message

    |   
    footer.footer(style="background: #434760; color:#fff;")
            .container
                .row
                    nav.footer-nav
                        ul
                            li
                                a(href="#", target="_blank" style="color: #fff;") Application
                            |                 
                            li
                                a(href="#", target="_blank" style="color: #fff;") Budget Planning
                            |                 
                            li
                                a(href="#", target="_blank" style="color: #fff;") Releasing
                            |                 
                            li
                                a(href="#", target="_blank" style="color: #fff;") Renewal
                    |             
                    .credits.ml-auto
                        span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team  