extends ../../../templates/Fmaster

block content
    #headers.cd-section.page-header.header-filter.purple-filter(data-parallax="true", style="background-image: url('../img/bg5.png')")
      .container
        .row
          .col-md-6.ml-auto.mr-auto.text-center
            i.material-icons(style='font-size: 50px;') school
            h1.title Scholarship Management System
            |         
            h4 In the middle of difficulty lies opportunity. Apply now and be a part of this program.
            |         
            br
            |                 
            a.btn.btn-white.btn-fills.btn-lg.justify-content-center(href="/apply")
              | Apply Now!
          
          

    #products.main.main-raised
      .container
        .section.text-center
          .row
            .col-md-8.ml-auto.mr-auto
              h2.title Our Services
              |                     
              h5.description
                | Be a scholar in no time.
          |       
          .features
            .row
              .col-md-3
                .info
                  .icon.icon-info
                    i.material-icons assignment
                  |               
                  h4.info-title Application
                  |               
                  p
                    | We make your application faster.
              |           
              .col-md-3
                .info
                  .icon.icon-success
                    i.material-icons attach_money
                  |               
                  h4.info-title Budget Planning
                  |               
                  p
                    | Make budget plans easily and equally.
              |           
              .col-md-3
                .info
                  .icon.icon-danger
                    i.material-icons label_important
                  |               
                  h4.info-title Releasing
                  |               
                  p
                    | We'll let you know when, where and how will you get your stipend.
              .col-md-3
                .info
                  .icon(style="color: #505677;")
                    i.material-icons phone_android
                  |               
                  h4.info-title Mobile App
                  |               
                  p
                    | You can check it anywhere using are portal in your mobile.
        .section.section-contacts
          .row
            .col-md-8.ml-auto.mr-auto
              h2.text-center.title Contact Us
              |           
              h4.text-center.description
                | Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.
              |                     
              form.contact-form
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Your Name
                      |                   
                      input.form-control(type="email")
                  |                             
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Your Email
                      |                   
                      input.form-control(type="email")
                |             
                .form-group
                  label.bmd-label-floating(for="exampleMessage") Your Message
                  |                           
                  textarea#exampleMessage.form-control(type="email", rows="4")
                |                         
                .row
                  .col-md-4.ml-auto.mr-auto.text-center
                    button.btn.btn-raised(style="background: #505677;")
                      | Send Message
    footer.footer.footer-default
      .container
        nav.float-left
          ul
            li
              a(href="https://www.creative-tim.com")
                | Creative Tim
            |         
            li
              a(href="https://creative-tim.com/presentation")
                | About Us
            |         
            li
              a(href="http://blog.creative-tim.com")
                | Blog
            |         
            li
              a(href="https://www.creative-tim.com/license")
                | Licenses
        |     
        .copyright.float-right
          | ©
          script.
            document.write(new Date().getFullYear())
          | , made with 
          i.material-icons favorite
          |  by
          |         
          a(href="https://www.creative-tim.com", target="_blank") Creative Tim
          |  for a better web.



        