extends ../../../templates/Abase

block body
    link(href="../css/paper-kit.min.css", rel="stylesheet")
    link(href="../css/recover.css", rel="stylesheet")
    script(src="../js/paper-kit.min.js")
    .background-img(style="background-image: url('../img/bg2.png')")
        .filter
        .container
            .row
                .col-sm-4.col-sm-offset-4
                    h1.title
                        img(src="../img/logo1.png" style="margin-top: 5px; height: 200px; width: 200px;")
                    form#add(method='POST', action=`/sponsorapply` enctype='multipart/form-data')
                        .form-group
                            h6.form-text.text-muted(for="sp") Scholarhip Program
                            |     
                            input#sp.form-control(type="string", placeholder="Name of Scholarship Program", name="program")
                        .form-group
                            h6.form-text.text-muted(for="ce") Coordinator Email
                            |     
                            input#ce.form-control(type="string", placeholder="Coordinator Email", name="coordinator")
                        h6.form-text.text-muted(for="req") Requirement
                        |    
                        input.form-control-file(type="file" name="CI")
                        button#data.btn.btn-block(type="submit") Submit