extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Courses &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                    i.fa.fa-plus
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add Course
                                            form#add(method='POST', action='/coordinator/course', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="course") Course Name
                                                        |     
                                                        select#course.form-control(name="course", required)
                                                            each course in courses
                                                                option(value=course.intCourseId) #{course.strCourseName}
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                thead
                                    tr
                                        th Name of Course          
                                        th.text-right
                                            | Actions               
                                tbody
                                    each datum in data
                                        tr
                                            td #{datum.strCourseName}
                                            td.text-right
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(class="delete", data-id=datum.intSCId, title='View Information', data-toggle='modal', data-target='#myModal')
                                                    i.fa.fa-trash
    footer.footer.footer-black.footer-white
            .container-fluid
                .row
                    nav.footer-nav
                        ul
                            li
                                a(href="#", target="_blank") Application
                            |                 
                            li
                                a(href="#", target="_blank") Budget Planning
                            |                 
                            li
                                a(href="#", target="_blank") Releasing
                            |                 
                            li
                                a(href="#", target="_blank") Renewal
                    |             
                    .credits.ml-auto
                        span.copyright
                            | ©
                            script.
                                document.write(new Date().getFullYear())
                            | , made with 
                            i.fa.fa-heart.heart
                            |  by Scholarship Management Team
    script.
        $(document).ready(function(){
            var sms = $(this);
            $('#req').addClass('active');
            if(sms.hasClass('show')){
                $('#requirement.collapse').slideDown('slow','swing').removeClass('show');
            } else{
                $('#requirement.collapse').slideUp('slow','swing').addClass('show');
            }
            $('#course').addClass('active');
            $('#example').DataTable({
                    responsive:true
                });
        })
        $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/coordinator/course',
                method: 'post',
                data: $(this).serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Added!',
                        'A new course is added.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                    else if(response.sqlMessage.includes('intSC_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing course Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
        })
        $('button#delete').click(function(){
            var ID = $(this).data('id');
            swal({
                title: 'Are you sure?',
                text: "This course will be remove.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Yes, remove it!'
            }).then(function() {
                $.ajax({
                    url: '/maintenance/query/delete',
                    method: 'post',
                    data: {table:'tblsponsorcourse',column:'intSCId',Id:ID},
                    success: function(response){
                        console.log(response);
                        if(response=='success'){
                            swal(
                            'Removed!',
                            'This course has been removed.',
                            'success'
                            ).then(function(){
                                window.location=`/coordinator/course`;
                            })
                        }
                        else if(response.sqlMessage.includes('foreign key')){
                            $.toast({
                                heading: 'ERROR',
                                text:'This Record is Used',
                                icon:'error',
                                position: 'top-right',
                                loader: false,
                                stack : 3
                            })  
                        }
                    }
                })   
            })
        })