extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-6
                .card.card-stats
                    .card-body
                        .row
                            canvas#students
                    |               
                    .card-footer
                        hr
                        |                 
                        .stats
                            i.fa.fa-refresh
                            |  Scholars
            |           
            .col-md-6
                .card.card-stats
                    .card-body
                        .row
                            canvas#budget
                    |               
                    .card-footer
                        hr
                        |                 
                        .stats
                            i.fa.fa-calendar-o
                            |  Budget Line
        .row           
            .col-md-6
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    .text-danger &#8369;
                            |                   
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Budget
                                    |                       
                                    p.card-title
                                        | #{budget}
                                    p
                    |               
                    .card-footer
                        hr
                        |                 
                        .stats
                            i.fa.fa-clock-o
                            |  Allotted Budget
            |           
            .col-md-6
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-money-coins.text-primary
                            |                   
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Slots
                                    |                       
                                    p.card-title
                                        | #{slots}
                                    p
                    |               
                    .card-footer
                        hr
                        |                 
                        .stats
                            i.fa.fa-refresh
                            |  Remaining Slots
    |       
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team
    script.
        $(document).ready(function(){
            $('#dashboard').addClass('active');
        })
        var doughnut = new Chart($('canvas#students'),{
            type: 'doughnut',
            data: {
            datasets: [{
                data: [30, 5, 10],
                backgroundColor: ["#88D498", "#EB9595","#B4E1FF"]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Continuing',
                'Forfeited',
                'Graduated'
            ]
        } 
        })
        var Budgetline = new Chart($('canvas#budget'),{
            type: 'line',
            data:{
                labels:[2016,2017,2018],
                datasets:[{
                    data:[120000,150000,245000],
                    fill:false,
                    label:'Budgets',
                    borderColor:'#3e95cd'
                }]
            }
        }) 