extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col
                .card
                    .card-header
                        h4.card-title Reports
                        br
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    