extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col
                .card
                    .card-header
                        h4.card-title Reports
                        br
                        form(method="POST" action='')
                            .row
                                .col
                                    .form-group
                                        select#target.form-control(name='target')
                                .col.md-3
                                    .form-group
                                        input.form-control(type="date")
                                .com.md-3
                                    .form-group
                                        button.btn(type="button") hello
    script.
        $('button#print').click(function(){
            $.ajax({
                url:'/coordinator/reports',
                method:'POST'
            })
        })