extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col
                .card
                    .card-header
                        h4.card-title Reports
                        br
                    button#print.btn(type='button') print
    script.
        $('button#print').click(function(){
            $.ajax({
                url:'/coordinator/reports'
            })
        })