extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-6
                .card
                    .card-header
                        h4.card-title  List of Courses &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                    i.fa.fa-plus
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add Course
                                            form#add(method='POST', action='', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="course") Course Name
                                                        |     
                                                        input#course.form-control(type="string", placeholder="Enter course name", name="" required)
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                thead
                                    tr
                                        th Name of Course          
                                        th.text-right
                                            | Actions               
                                tbody
                                        tr
                                            td 
                                            td.text-right
                                                button.btn.btn-danger.btn-icon.btn-round.btn-sm(class="delete", data-id="", title='View Information', data-toggle='modal', data-target='#myModal')
                                                    i.fa.fa-trash
        
            .col-md-6
                .card
                    .card-header
                        h4.card-title  List of Districts &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal2")
                                    i.fa.fa-plus
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                // Classic Modal
                                #addModal2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add District
                                            form#add(method='POST', action='', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="district") District Name/No.
                                                        |     
                                                        input#district.form-control(type="string", placeholder="Enter district name/no.", name="" required)
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                thead
                                    tr
                                        th District #         
                                        th.text-right
                                            | Actions               
                                tbody
                                        tr
                                            td 
                                            td.text-right
                                                button.btn.btn-danger.btn-icon.btn-round.btn-sm(class="delete", data-id="", title='View Information', data-toggle='modal', data-target='#myModal')
                                                    i.fa.fa-trash
        .row
            .col-md-6
                .card
                    .card-header
                        h4.card-title  List of Schools &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal3")
                                    i.fa.fa-plus
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                // Classic Modal
                                #addModal3.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add School
                                            form#add(method='POST', action='', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="school") School Name
                                                        |     
                                                        input#school.form-control(type="string", placeholder="Enter school name", name="" required)
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                thead
                                    tr
                                        th Name of School          
                                        th.text-right
                                            | Actions               
                                tbody
                                        tr
                                            td 
                                            td.text-right
                                                button.btn.btn-danger.btn-icon.btn-round.btn-sm(class="delete", data-id="", title='View Information', data-toggle='modal', data-target='#myModal')
                                                    i.fa.fa-trash
            .col-md-6
                    .card
                        .card-header
                            h4.card-title  List of Grades and Income
                            br
                                //- .pull-right
                                //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                        
                        .card-body
                            .table-responsive
                                table#example.table.table-striped.table-bordered(style="width: 100%;")
                                    thead
                                        tr
                                            th Grade  
                                            th Income        
                                            th.text-right
                                                | Actions               
                                    tbody
                                            tr
                                                td 
                                                td
                                                td.text-right
                                                    button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit", data-id="", title='View Information', data-toggle='modal', data-target='#myModal')
                                                        i.fa.fa-edit
    footer.footer.footer-black.footer-white
            .container-fluid
                .row
                    nav.footer-nav
                        ul
                            li
                                a(href="#", target="_blank") Application
                            |                 
                            li
                                a(href="#", target="_blank") Budget Planning
                            |                 
                            li
                                a(href="#", target="_blank") Releasing
                            |                 
                            li
                                a(href="#", target="_blank") Renewal
                    |             
                    .credits.ml-auto
                        span.copyright
                            | ©
                            script.
                                document.write(new Date().getFullYear())
                            | , made with 
                            i.fa.fa-heart.heart
                            |  by Scholarship Management Team

    script.
        $(document).ready(function(){
            $('#requirements').addClass('active');
        })