extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-6
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-single-02.text-warning
                            |                   
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Applicants
                                    |                       
                                    p.card-title
                                        | #{applicant}
                                    p