extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-12
                    .card
                        .card-header
                            h4.card-title  Utilities
                            br
                                //- .pull-right
                                //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                        
                        form#utilities(method='POST' action='/coordinator/utilities')
                            .card-body
                                .row
                                    .col
                                        .form-group
                                            h6.form-text.text-muted(for="Pname") Program Name
                                            |     
                                            input#Pname.form-control(name="Name", type="string", value=data.strSTDesc, placeholder="Enter new barangay name", maxLength="45", required)
                                .row
                                    .col
                                        .form-group
                                            h6.form-text.text-muted(for="Grade") Minimum Required Average
                                            |     
                                            input#Grade.form-control(name="Rgrade", type="number", value=data.dblGradeReq, placeholder="Enter new barangay name", maxLength="45", required)
                                    .col
                                        .form-group
                                            h6.form-text.text-muted(for="income") Maximum Annual Income
                                            |     
                                            input#income.form-control(name="Rincome", type="number", value=data.dblIncomeReq, placeholder="Enter new barangay name", maxLength="45", required)
                                    .col
                                        .form-group
                                            h6.form-text.text-muted(for="alloc") Allocation Amount
                                            |     
                                            input#alloc.form-control(name="Alloc", type="number", value=data.dblSTAllocation, placeholder="Enter new barangay name", maxLength="45", required)
                            .card-footer
                                .pull-right
                                    button#edit.btn.btn-block(type="submit" style="background: #505677!important;") Apply Changes                         
    footer.footer.footer-black.footer-white
            .container-fluid
                .row
                    .credits.ml-auto
                        span.copyright
                            | © &nbsp;
                            script.
                                document.write(new Date().getFullYear())
                            | , made with 
                            i.fa.fa-heart.heart
                            |  by Scholarship Management Team
    script.
        $(document).ready(function(){
            var sms = $(this);
            $('#util').addClass('active');
            if(sms.hasClass('show')){
                $('#utilities.collapse').slideDown('slow','swing').removeClass('show');
            } else{
                $('#utilities.collapse').slideUp('slow','swing').addClass('show');
            }
            $('#grade').addClass('active');
        })
        $('form#utilities').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/coordinator/utilities',
                method: 'post',
                data: $(this).serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Updated!',
                        'Utilites has been Updated.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                }
            })
        })