extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title Sent Mail &nbsp;

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                
                                thead
                                    tr
                                        th Recipient
                                        th Subject
                                        th Date                    
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                        tr
                                             
                                            td
                                            td
                                            td
                                            td.text-right                   
                                                button.btn.btn-info.btn-icon.btn-round.btn-sm(class="view" data-id="" data-toggle="modal" data-target="#editModal", type="button", title="View Details")
                                                    i.fa.fa-eye
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Message Details
                                                            .modal-body
                                                                
                                                            .modal-footer
                                                                .left-side
                                                                    button.btn.btn-default.btn-link(type="reset") Reset
                                                                |                             
                                                                .divider
                                                                |                             
                                                                .right-side
                                                                    button.btn.btn-link(type="submit") Reply
                                                // End Modal

                                                |                           
                                                button.btn.btn-danger.btn-icon.btn-round.btn-sm()
                                                    i.fa.fa-times
                                
    footer.footer.footer-black.footer-white
        .container-fluid
            .row           
                .credits.ml-auto
                    span.copyright
                        | © &nbsp;
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
      $(document).ready(function() {
            $('#example').DataTable({
                responsive:true
            });
        });
