extends ../../../templates/masterpanel

block content
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .card-header.card-header-primary.card-header-icon
                button.card-icon(type='submit', data-toggle='modal', data-target='#addModal', style='border: none; text-decoration: none;', title='Add a School')
                  i.material-icons(style='color: #fff; font-size: 30px;') add
                |           
                h4.card-title List of Grading Type
              .card-body
                .table-responsive
                  table#example.table.table-striped
                    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title Add a Grade 
                                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                                        span(aria-hidden="true").material-icons close
                                form(method='POST', action='/maintenance/grade')
                                  .card-body
                                      .form-group.bmd-form-group
                                        label.bmd-label-floating Grading Type *               
                                        input.form-control(type="String", required="true", aria-required="true", name="")
                                  .card-footer
                                      button.btn.btn-danger.btn-link(type="hidden", data-dismiss="modal", style="visibility: hidden;") Cancel
                                      button.btn(type="submit", style="background-color: #505677;") Submit
                    thead
                      tr
                        th Grade Range
                        |                   
                        th.text-right Actions
                    |               
                    tbody
                      
                          tr
                            td 
                            td.text-right
                              button.btn.btn-success(class="edit", type="button", data-id="", title="Edit", data-toggle='modal', data-target='#editModal', style="padding: 25px 5px 2px 5px;")
                                i.material-icons(style="margin-top: -20px;") edit
                                .ripple-container
                              #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog(role="document")
                                  .modal-content
                                    .modal-header
                                      h5#exampleModalLabel.modal-title Edit Grade Details
                                      button.close(type="button", data-dismiss="modal", aria-label="Close")
                                        span(aria-hidden="true").material-icons close
                                    form(method='#', action='#')
                                      .card-body
                                          .form-group.bmd-form-group
                                            p.bmd-label-floating Input Grade *               
                                            input.form-control(type="number", required="true", aria-required="true", name="")
                                          
                                      .card-footer
                                          button.btn.btn-danger.btn-link(type="hidden", data-dismiss="modal", style="visibility: hidden;") Cancel
                                          button.btn(type="submit", style="background-color: #505677;") Submit
                              a.button.btn.btn-danger(href="", title="Delete", style="padding: 25px 5px 2px 6px;")
                                i.material-icons(style="margin-top: -20px; margin-left: -1px;") close
                                |                     
                                .ripple-container
    footer.footer
      .container-fluid
        nav.float-left
          ul
            li
              a(href="#")
                | Application
            |               
            li
              a(href="#")
                | Budget
            |               
            li
              a(href="#")
                | Releasing
            |               
            li
              a(href="#")
                | Renewal
        |         
        .copyright.float-right
          | © &nbsp;
          script.
            document.write(new Date().getFullYear())
          |  made with 
          i.material-icons.text-rose favorite
          |  by
          |             
          |  Scholarship Managememt Team
          |  for a better future.
    script.
      $(document).ready(function() {
          $('#example').DataTable();
      } );
      