extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Requirements &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add Requirement                           
                                            
                                            form#add(method='POST', action='/maintenance/requirement', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="requirement") Requirement
                                                        |     
                                                        input#requirement.form-control(name="requirement", type="string", placeholder="Enter requirement")
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th Requirement                     
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each requirement in requirements
                                        tr
                                            td #{requirement.strRequirementDesc}
                                            td.text-right                   
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit" data-id=requirement.intRequirementId data-toggle="modal" data-target="#editModal", type="button", title="Edit")
                                                    i.fa.fa-edit
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Edit requirement
                                                            form#edit(method='POST', action='/maintenance/requirement?_method=PUT', style="margin-bottom: -1px;")
                                                                .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="requirement") Requirement 
                                                                        |     
                                                                        input#requirement.form-control(name="requirement", type="string", placeholder="Enter new requirement")
                                                                    input.form-control(type="hidden" name="RId" id="RId" value='')
                                                                .modal-footer
                                                                    .left-side
                                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                                    |                             
                                                                    .divider
                                                                    |                             
                                                                    .right-side
                                                                        button#edit.btn.btn-link(type="submit") Save Changes
                                                // End Modal

                                                |                           
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=requirement.intRequirementId, title="Delete")
                                                    i.fa.fa-trash
                            
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
      $(document).ready(function() {
            $('#example').DataTable({
                responsive:true
            });
        });
      $(document).on('click',".edit",function(){
            var myRId = $(this).data('id');
            $('.modal-body #RId').val(myRId);
        });
      $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/requirement',
                method: 'post',
                data: $('form#add').serialize(),
                success: function(response){
                    swal(
                    'Added!',
                    'A new requirement is added.',
                    'success'
                    );
                    location.reload();
                }
            })
        })
        $('form#edit').submit(function(){
    
            swal(
<<<<<<< HEAD
                'Updated!',
                'This requirement has been updated.',
=======
                'Added!',
                'You added a new requirement.',
>>>>>>> issue#2
                'success'
                )
            
            })
<<<<<<< HEAD

        $('button#delete').click(function(){
            var requirement = $(this).data('id');
=======
        
      $('button#edit').click(function(){
    
            swal(
                'Updated!',
                'This requirement has been updated.',
                'success'
                )
            
            })
      $('button#delete').click(function(){
                var requirement = $(this).data('id');
>>>>>>> issue#2
            swal({
                title: 'Are you sure?',
                text: "This requirement will be remove.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Yes, remove it!'
            }).then(function() {
                swal(
                'Removed!',
                'This requirement has been removed.',
                'success'
                );
                window.location=`/maintenance/requirement/${requirement}`;
            })

            })
            $(document).ready(function(){
                $('#maintenan').addClass('active');
                $('#maintenance.collapse').slideDown('slow','swing').addClass('show');
                $('#scholar').addClass('active');
                $('#Scholarship.collapse').addClass('show');
                $('#requirements').addClass('active');
            })