extends ../../../templates/SLpanel

block content
    .content
        .container-fluid
            .row
                .col-md-12
                    .card.data-tables
                        .card.header
                            .card-header
                                h4.card-title Scholarship Type
                                p.card-category Scholars
                                hr
                            .card-body.table-striped.table-no-bordered.table-hover.dataTable.dtr-inline.table-full-width
                                .toolbar
                                    // Here you can write extra buttons/actions for the toolbar
                                .fresh-datatables
                                    #datatables_wrapper.dataTables_wrapper.container-fluid.dt-bootstrap4
                                        .row
                                            .col-sm-12.col-md-6
                                                #datatables_length.dataTables_length
                                            .col-sm-12.col-md-6
                                                #datatables_filter.dataTables_filter
                                        .row
                                            .col-sm-12
                                                table#datatables.table.table-striped.table-no-bordered.table-hover.dataTable.dtr-inline(cellspacing='0', width='100%', style='width: 100%;', role='grid', aria-describedby='datatables_info')
                                                    button.btn.btn-info.btn-fill.pull-right(style='margin-left: -20px; margin-right: 17px;', type='submit', data-toggle='modal', data-target='#addModal')
                                                        i.fa.fa-plus
                                                        |  Add Scholarship Type
                                                    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                                        .modal-dialog(role='document')
                                                            .modal-content
                                                                .modal-header
                                                                    h5#exampleModalLabel.modal-title Add Scholarship Type
                                                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                        span.fa.fa-times(aria-hidden='true')
                                                                form(method='POST', action='/maintenance/scholarship')
                                                                    .modal-body
                                                                        .form-group
                                                                            label Type of Scholarship:
                                                                            input.form-control(type='string', placeholder='Enter new school' name='STname')
                                                                    .modal-footer
                                                                        button.btn.btn-secondary(type='reset') Cancel
                                                                        button.btn.btn-info(type='submit') Submit
                                                    thead
                                                        tr(role='row')
                                                            th.sorting_asc(tabindex='0', aria-controls='datatables', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Name: activate to sort column descending') Type of Scholarship
                                                            th.disabled-sorting.text-right.sorting(tabindex='0', aria-controls='datatables', rowspan='1', colspan='1', aria-label='Actions: activate to sort column ascending')
                                                                | Actions
                                                    tbody
                                                        each stype in stypes
                                                            tr.even(role='row')
                                                                td.sorting_1(tabindex='0') #{stype.strSTDesc}
                                                                td.text-right
                                                                    button.btn.btn-info.btn-link.btn-warning.btn-fill(class="edit", data-id=stype.intSTId, data-toggle='modal', data-target='#editModal', rel='tooltip', data-original-title='Edit')
                                                                        i.fa.fa-edit
                                                                    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                                                        .modal-dialog(role='document')
                                                                            .modal-content
                                                                                .modal-header
                                                                                    h5#exampleModalLabel.modal-title Edit Scholarship Type
                                                                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                                        span.fa.fa-times(aria-hidden='true')
                                                                                form(method='POST', action='/maintenance/scholarship?_method=PUT')
                                                                                    .modal-body
                                                                                        .form-group
                                                                                            label(style='float: left;') Type of Scholarship:
                                                                                            input.form-control(name='STname' type='string', placeholder='Enter new type of scholarship', style='width: 428px; height: 23px;')
                                                                                        input.form-control(type="hidden" name='STId' id='STId' value='')
                                                                                    .modal-footer
                                                                                        button.btn.btn-secondary(type='reset') Cancel
                                                                                        button.btn.btn-info(type='submit') Submit
                                                                    a.button.btn.btn-link.btn-danger(href=`/maintenance/scholarship/${stype.intSTId}` rel='tooltip', data-original-title='Remove')
                                                                        i.fa.fa-times
    #chartPreferences.ct-chart.ct-perfect-fourth(style='display: none;')
    #chartHours.ct-chart(style='display: none;')
    #chartActivity.ct-chart(style='display: none;')
    footer.footer
        .container
            nav
                ul.footer-menu
                    li
                        a(href='#')
                            | Application
                    li
                        a(href='#')
                            | Budget Planning
                    li
                        a(href='#')
                            | Monitoring
                    li
                        a(href='#')
                            | Releasing of Stipend
                p.copyright.pull-right
                    | © 
                    script.
                        document.write(new Date().getFullYear())
                    | , Cong. Neptali 'Boyet' Gonzales Scholarship Management System
    script.
        $(document).on('click',".edit",function(){
            var mySTId = $(this).data('id');
            $('.modal-body #STId').val(mySTId);
        });
