extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Schools &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add School                           
                                            
                                            form#add(method='POST', action='/maintenance/school', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="school") School Name
                                                        |     
                                                        input#school.form-control(name="School", type="string", placeholder="Enter school name")
                                                    .form-group
                                                        label(for="grade") Grading Type
                                                        |     
                                                        select#grade.form-control(name="Grading")
                                                            option(value="1") Grading System 1   
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th Name of School
                                        th Grading Type                    
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each school in schools
                                        tr
                                            td=school.strSchoolName
                                            td
                                            td.text-right                   
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit" data-id=school.intSchoolId  data-toggle="modal" data-target="#editModal", type="button", title="Edit")
                                                    i.fa.fa-edit
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Edit School
                                                            form#edit(method='POST', action='/maintenance/school?_method=PUT', style="margin-bottom: -1px;")
                                                                .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="school") School Name
                                                                        |     
                                                                        input#school.form-control(name="School", type="string", placeholder="Enter new school name")
                                                                    .form-group
                                                                        label(for="grade") Grading Type
                                                                        |     
                                                                        select#grade.form-control(name="Grading")
                                                                            option(value="1") Grading System 1  
                                                                    input.form-control(type="hidden" name="SId" id="SId" value='')
                                                                .modal-footer
                                                                    .left-side
                                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                                    |                             
                                                                    .divider
                                                                    |                             
                                                                    .right-side
                                                                        button#edit.btn.btn-link(type="button") Save Changes
                                                // End Modal

                                                |                           
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=school.intSchoolId, title="Delete")
                                                    i.fa.fa-trash
                                
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
      $(document).ready(function() {
            $('#example').DataTable({
                responsive:true
            });
        });
      $(document).on('click',".edit",function(){
            var mySId = $(this).data('id');
            $('#SId').val(mySId);
        });

        $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/school',
                method: 'post',
                data: $('form#add').serialize(),
                success: function(response){
                    swal(
                    'Added!',
                    'A new school is added.',
                    'success'
                    );
                    location.reload();
                }
            })
        })
        $('button#edit').click(function(){
    
            swal(
                'Updated!',
                'This school has been updated.',
                'success'
                ).then(function(){
                    $('form#edit').submit();
                })
            
            })
        $('button#delete').click(function(){
            var school = $(this).data('id');
        swal({
            title: 'Are you sure?',
            text: "This school will be remove.",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#62698e',
            cancelButtonColor: '#ef8157',
            confirmButtonText: 'Yes, remove it!'
        }).then(function() {
            swal(
            'Removed!',
            'This school has been removed.',
            'success'
            );
            window.location=`/maintenance/school/${school}`;
        })

        })