extends ../../../templates/Upanel

block content
        .content(style="padding-bottom:50px;")
            .row
                .col-lg-6.col-md-12.text-center
                    .card.card-tasks
                        .card-header
                            h4.card-title Tasks
                            |                 
                            h5.card-category Backend development
                        |               
                        .card-body
                            .table-full-width.table-responsive
                                table.table
                                    tbody
                                        tr
                                            td
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input(type="checkbox", checked="")
                                                        |                               
                                                        span.form-check-sign
                                            |                         
                                            td.img-row
                                                .img-wrapper
                                                    img.img-raised(src="../img/ben.jpg")
                                            |                         
                                            td.text-left Sign contract for "What are conference organizers afraid of?"
                                            |                         
                                            td.td-actions.text-right
                                                button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Edit Task")
                                                    i.nc-icon.nc-ruler-pencil
                                                |                           
                                                button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Remove")
                                                    i.nc-icon.nc-simple-remove
                                        |                       
                                        tr
                                            td
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input(type="checkbox", checked)
                                                        |                               
                                                        span.form-check-sign
                                            |                         
                                            td.img-row
                                                .img-wrapper
                                                    img.img-raised(src="../img/bin.jpg")
                                            |                         
                                            td.text-left Lines From Great Russian Literature? Or E-mails From My Boss?
                                            |                         
                                            td.td-actions.text-right
                                                button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Edit Task")
                                                    i.nc-icon.nc-ruler-pencil
                                                |                           
                                                button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Remove")
                                                    i.nc-icon.nc-simple-remove
                                        |                       
                                        tr
                                            td
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input(type="checkbox")
                                                        |                               
                                                        span.form-check-sign
                                            |                         
                                            td.img-row
                                                .img-wrapper
                                                    img.img-raised(src="../img/bon.jpg")
                                            |                         
                                            td.text-left
                                                | Using dummy content or fake information in the Web design process can result in products with unrealistic
                                            |                         
                                            td.td-actions.text-right
                                                button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Edit Task")
                                                    i.nc-icon.nc-ruler-pencil
                                                |                           
                                                button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Remove")
                                                    i.nc-icon.nc-simple-remove
                                        |                       
                                        tr
                                            td
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input(type="checkbox", checked)
                                                        |                               
                                                        span.form-check-sign
                                            |                         
                                            td.img-row
                                                .img-wrapper
                                                    img.img-raised(src="../img/bun.jpg")
                                            |                         
                                            td.text-left But I must explain to you how all this mistaken idea of denouncing pleasure
                                            |                         
                                            td.td-actions.text-right
                                                button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Edit Task")
                                                    i.nc-icon.nc-ruler-pencil
                                                |                           
                                                button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", rel="tooltip", title="", data-original-title="Remove")
                                                    i.nc-icon.nc-simple-remove
                        |               
                        .card-footer
                            hr
                            |                 
                            .stats
                            i.fa.fa-refresh.spin
                            |  Updated 3 minutes ago
        
                |           
                .col-md-6
                    .card.card-timeline.card-plain
                            .card-body
                                ul.timeline.timeline-simple
                                    li.timeline-inverted
                                        .timeline-badge.danger
                                            i.nc-icon.nc-single-copy-04
                                        |                     
                                        .timeline-panel
                                            .timeline-heading
                                                span.badge.badge-pill.badge-danger Some Title
                                            |                       
                                            .timeline-body
                                                p
                                                | Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.
                                            |                       
                                            h6
                                                i.ti-time
                                                |  11 hours ago via Twitter
                                    |                   
                                    li.timeline-inverted
                                        .timeline-badge.success
                                            i.nc-icon.nc-sun-fog-29
                                        |                     
                                        .timeline-panel
                                            .timeline-heading
                                                span.badge.badge-pill.badge-success Another One
                                            |                       
                                            .timeline-body
                                                p
                                                    | Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....
                                    |                   
                                    li.timeline-inverted
                                        .timeline-badge.info
                                            i.nc-icon.nc-world-2
                                        |                     
                                        .timeline-panel
                                            .timeline-heading
                                                span.badge.badge-pill.badge-info Another Title
                                            |                       
                                            .timeline-body
                                                p
                                                    | Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM
                                                |                         
                                                p
                                                    | What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye
                                                |                         
                                                hr
                                            |                       
                                            .timeline-footer
                                                .dropdown
                                                    button.btn.btn-round.btn-info.dropdown-toggle(type="button", data-toggle="dropdown")
                                                        i.nc-icon.nc-settings-gear-65
                                                    |                           
                                                    .dropdown-menu
                                                        a.dropdown-item(href="#") Action
                                                        |                             
                                                        a.dropdown-item(href="#") Another action
                                                        |                             
                                                        a.dropdown-item(href="#") Something else here
               
        footer.footer.footer-black.footer-white
            .container-fluid
                .row
                    nav.footer-nav
                        ul
                            li
                                a(href="#", target="_blank") Application
                            |                 
                            li
                                a(href="#", target="_blank") Budget Planning
                            |                 
                            li
                                a(href="#", target="_blank") Releasing
                            |                 
                            li
                                a(href="#", target="_blank") Renewal
                    |             
                    .credits.ml-auto
                        span.copyright
                            | ©
                            script.
                                document.write(new Date().getFullYear())
                            | , made with 
                            i.fa.fa-heart.heart
                            |  by Scholarship Management Team

