extends ../../../templates/Upanel

block content
    .content
        .row
            .col-md-4
                .card.card-user
                    .image(style="background-color: #505677!important;")
                        
                    |               
                    .card-body
                        .author
                            a(href="#")
                                img.avatar.border-gray(src="/img/user.png", alt="...")
                                |                     
                                h5.title #{scholarship}
            |           
            .col-md-8
                .card
                    .card-header
                        h5.title Edit Profile
                    |               
                    .card-body
                        form#save(method="PUT" , action='')
                            .row
                                .col
                                    .form-group
                                        label User Id (disabled)
                                        |                         
                                        input#id.form-control(type="text", disabled, name='id', value=coordinator.strUserId)
                            .row                     
                                .col
                                    .form-group
                                        label Email
                                        |                         
                                        input.form-control(type="email", placeholder="Username", name='email' value=coordinator.strUserEmail)
                            .row                     
                                .col
                                    .form-group
                                        label Password
                                        |                         
                                        input.form-control(type="password" value=coordinator.strUserPassword name='password')
                            .row
                                .col
                                    .pull-right
                                        button.btn.btn-info Save

    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                .credits.ml-auto
                    span.copyright
                        | © &nbsp;
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team
    script.
        $('form#save').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:'/coordinator/profile',
                method:'PUT',
                data:$(this).serialize()+'&&id='+$('input#id').val(),
                success:function(response){
                    if(response == 'success'){
                        swal(
                        'Saved!',
                        'Account Info Updated',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }

                }
            })
        })