doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        link(rel="apple-touch-icon", sizes="76x76", href="assets/img/apple-icon.png")
        link(rel="icon", type="image/png", href="../img/logo.png")
        title Scholarship Management System
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")     
        meta(name="viewport", content="width=device-width")
        
        // Core JS Files
        script(src="../js/jquery.min.js")
        script(src="../js/popper.min.js")
        script(src="../js/bootstrap-v4.min.js")
        script(src="../js/perfect-scrollbar.jquery.min.js")
        script(src="../js/moment.min.js")
        // Plugin for Switches, full documentation here: http://www.jque.re/version3/bootstrap.switch/
        script(src="../js/bootstrap-switch.js")
        // Plugin for Sweet Alert
        script(src="../js/sweetalert2.min.js")
        // Forms Validations Plugin
        script(src="../js/jquery.validate.min.js")
        // Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard
        script(src="../js/jquery.bootstrap-wizard.js")
        // Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select
        script(src="../js/bootstrap-selectpicker.js")
        // Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/
        script(src="../js/bootstrap-datetimepicker.js")
        // DataTables.net Plugin, full documentation here: https://datatables.net/
        script(src="../js/jquery.dataTables.min.js")
        // Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs
        script(src="../js/bootstrap-tagsinput.js")
        // Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput
        script(src="../js/jasny-bootstrap.min.js")
        // Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar
        script(src="../js/fullcalendar.min.js")
        // Vector Map plugin, full documentation here: http://jvectormap.com/documentation/
        script(src="../js/jquery-vectormap.js")
        // Plugin for the Bootstrap Table
        script(src="../js/nouislider.min.js")
        // Place this tag in your head or just before your close body tag.
        script(async="", defer="", src="../js/buttons.js")
        // Chart JS
        script(src="../js/chartjs.min.js")
        // Notifications Plugin
        script(src="../js/bootstrap-notify.js")
        // Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
        script(src="../js/paper-dashboard-pro-2.min.js", type="text/javascript")
        // Paper Dashboard DEMO methods, don't include it in your project!
        script(src="../js/paper-dashboard-pro-demo.js")
        // Sharrre libray
        script(src="../js/jquery.sharrre.js")
        // Script
        script(src="../js/script.js")

        // Fonts and icons
        link(href="../css/style.css", rel="stylesheet")   
        link(rel='stylesheet', type='text/css', href='../font-awesome-4.7.0/css/font-awesome.min.css')
        // CSS Files
        link(href="../css/bootstrap-v4.min.css", rel="stylesheet")   
        link(href="../css/paper-dashboard-pro-2.min.css", rel="stylesheet")
        // CSS Just for demo purpose, don't include it in your project
        link(href="../css/paper-dashboard-pro-demo.css", rel="stylesheet")   

        style.
            .card label {
                font-size: .9571em;
                margin-bottom: 5px;
                color: #000;
            }
            input.btn.btn-fill.btn-rose.btn-wd{
                background: #505677;
                border-color: #505677;
            }
            input.btn.btn-fill.btn-rose.btn-wd:hover{
                background: #434760!important;
                border-color: #434760;
            }
            input.btn.btn-fill.btn-rose.btn-wd:focus{
                background: #434760!important;
                border-color: #434760;
            }
            input.btn.btn-fill.btn-rose.btn-wd:active{
                background: #434760!important;
                border-color: #434760;
            }
            span.fa{
                color: #505677;
                background: transparent;
                border-color: transparent;
                border-radius: none;    
            }
            a.btn:hover{
                color: #505677;
                background: transparent!important;
                border-color: transparent!important;
            }
            .btn-outline-primary {
                background: transparent;
                border: 2px solid #505677!important;
                color: #505677;
                opacity: 1;
            }
            .btn-outline-primary:hover {
                background-color: #505677!important;
                border: 2px solid #505677!important;
                color: #fff!important;
                opacity: 1;
            }
            .reveal-if-active {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                font-size: inherit;
                transform: scale(0.8);
                transition: 0.5s;
                margin-left: -6%;
                
            }
            input#tod.form-control{
                
                padding: 10px;
                color: #66615b;
            }
            input#tm.form-control{
                padding: 10px;
                color: #66615b;
            }
            input#tos.form-control{
                margin-left: 2%;
                padding: 10px;
                color: #66615b;
            }
            input#agency.form-control{
                
                padding: 10px;
                color: #66615b;
            }
            .reveal-if-active label {
                display: block;
                
            }
            .reveal-if-active input[type=string] {
                width: 100%;
            }
            input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
                opacity: 1;
                max-height: 100px;
                padding: 10px 20px;
                transform: scale(1);
                overflow: visible;
            * {
                box-sizing: border-box;
            }
    body
        // Page Loader
        .preloader
            img(src="../img/logo1.svg", alt="",)
            br
            br
            .loader-dot-outer
                .loader-dot-center
                |          
                .loader-dot
                |          
                .loader-dot
                |          
                .loader-dot
                |          
                .loader-dot
                |          
                .loader-dot
                |          
                .loader-dot
        block body

