extends ./Fbase

block body
    nav.navbar.navbar-expand-lg.fixed-top.nav-down.navbar-transparent(color-on-scroll="500")
        .container
            .navbar-translate
                a.navbar-brand(href="", rel="tooltip", title="Paper Kit 2 PRO", data-placement="bottom", target="_blank")
                    | Home
                |         
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigation", aria-controls="navigation-index", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-bar.bar1
                    |           
                    span.navbar-toggler-bar.bar2
                    |           
                    span.navbar-toggler-bar.bar3
            |       
            .collapse.navbar-collapse(data-nav-image="../assets/img/blurred-image-1.jpg", data-color="orange")
                ul.navbar-nav.ml-auto
                    
                    li.nav-item
                        a.nav-link(href='#', data-toggle='modal', data-target='#loginModal') 
                            | Login
                        #loginModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="false")
                            .modal-dialog.modal-register
                                .modal-content
                                    .modal-header.text-center
                                        button.close(type="button", data-dismiss="modal", aria-label="Close", style="margin-top: -5%;")
                                            span(aria-hidden="true") × 
                                        |                 
                                        h3.modal-title.text-center(style="font-weight: 600;") Scholarship
                                        |                 
                                        p Log in to your account
                                    |             
                                    .modal-body
                                        .box
                                            .loginBox
                                                form(action="/login", method="post")    
                                                    .form-group
                                                        label User ID
                                                        |                 
                                                        input.form-control(type="text" name="user")
                                                    |               
                                                    .form-group
                                                        label Password
                                                        |                 
                                                        input.form-control(type="password" name="password")
                                                    |                 
                                                    button.btn.btn-block Log in
                                                span.text-muted.text-center.login
                                                    a(href='javascript: showRecoveryForm();')  Forgot Password?
                                        .box
                                            .registerBox(style="display: none;")
                                                form(action="/register", method="post")    
                                                    .form-group
                                                        label Last Name
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="Last Name")
                                                    .form-group
                                                        label First Name
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="First Name")
                                                    .form-group
                                                        label Email
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="Email")
                                                    |               
                                                    .form-group
                                                        label Password
                                                        |                 
                                                        input.form-control(type="password", value="", placeholder="Password")
                                                    |                 
                                                    button.btn.btn-block  Register
                                        .box
                                            .recoveryBox(style="display: none;")
                                                form(action="/recovery", method="post")    
                                                    .form-group
                                                        label Recovery Email
                                                        |                 
                                                        input.form-control(type="email", name="email" value="", placeholder="scholarship@scholar.org")
                                                    button.btn.btn-block(type="submit") Submit
                                                    span.text-muted.text-center
                                                        | Already have an account?
                                                        a(href="javascript: showLoginForm();")  Login.
                                    .modal-footer
                                        span.text-muted.text-center.login
                                            | Do not have an account?
                                            a(href='javascript: showRegisterForm();')  Register.
                                        .forgot.register-footer(style="display: none;")
                                            span.text-muted.text-center
                                                | Already have an account?
                                                a(href="javascript: showLoginForm();")  Login.
                                            

                //
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="hidden-lg-up">Twitter</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="hidden-lg-up">Facebook</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="hidden-lg-up">Instagram</p>
                    </a>
                    </li>
        // End Navbar
    script.
        function showRegisterForm(){
            $('.loginBox').fadeOut('fast',function(){
                $('.recoveryBox').fadeOut('fast');
                $('.registerBox').fadeIn('fast');
                $('.login').fadeOut('fast',function(){
                    $('.register-footer').fadeIn('fast');
                });
                $('.modal-title').html('Register');
            }); 
            $('.error').removeClass('alert alert-danger').html('');
                
        }
        function showLoginForm(){
            $('#loginModal .registerBox').fadeOut('fast',function(){
                $('#loginModal .recoveryBox').fadeOut('fast')
                $('.loginBox').fadeIn('fast');
                $('.register-footer').fadeOut('fast',function(){
                    $('.login').fadeIn('fast');    
                });
                
                $('.modal-title').html('Scholarship');
            });       
            $('.error').removeClass('alert alert-danger').html('');
            
            
        }
        function showRecoveryForm(){
            $('#loginModal .loginBox').fadeOut('fast',function(){
                $('#loginModal .registerBox').fadeOut('fast')
                $('.recoveryBox').fadeIn('fast');
                $('.register-footer').fadeOut('fast',function(){
                    $('.login').fadeIn('fast');    
                });
                
                $('.modal-title').html('Account Recovery');
            });       
            $('.error').removeClass('alert alert-danger').html('');

        }

    block content
