extends ./Fbase

block body
    
    nav.navbar.navbar-expand-lg.fixed-top.nav-down.navbar-transparent(color-on-scroll="500")
        .container
            .navbar-translate
                a.navbar-brand(href="", rel="tooltip", title="Paper Kit 2 PRO", data-placement="bottom", target="_blank")
                    | Home
                |         
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigation", aria-controls="navigation-index", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-bar.bar1
                    |           
                    span.navbar-toggler-bar.bar2
                    |           
                    span.navbar-toggler-bar.bar3
            |       
            .collapse.navbar-collapse(data-nav-image="", data-color="orange")
                ul.navbar-nav.ml-auto
                    
                    li.nav-item
                        a.nav-link(href='#', data-toggle='modal', data-target='#loginModal') 
                            | Login
                        #loginModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="false")
                            .modal-dialog.modal-register
                                .modal-content
                                    .modal-header.text-center
                                        button.close(type="button", data-dismiss="modal", aria-label="Close", style="margin-top: -5%;")
                                            span(aria-hidden="true") × 
                                        |                 
                                        h3#title.modal-title.text-center(style="font-weight: 600;") Scholarship
                                        |                 
                                        p#text Log in to your account
                                    |             
                                    .modal-body
                                        .box
                                            .loginBox
                                                form#login(action="/login", method="post")    
                                                    .form-group
                                                        h6.form-text.text-muted User ID/Email
                                                        |                 
                                                        input.form-control(type="text" name="user", maxLength="30", required)
                                                    |               
                                                    .form-group
                                                        h6.form-text.text-muted Password
                                                        |                 
                                                        input.form-control(type="password" name="password", maxLength="25", required)
                                                    |                 
                                                    button.btn.btn-block(type="submit") Log in
                                                span.text-muted.text-center.login
                                                    a(href='javascript: showRecoveryForm();')  Forgot Password?
                                        .box
                                            .registerBox(style="display: none;")
                                                form(action="/register", method="post")    
                                                    .form-group
                                                        h6.form-text.text-muted Last Name
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="Last Name")
                                                    .form-group
                                                        h6.form-text.text-muted First Name
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="First Name")
                                                    .form-group
                                                        h6.form-text.text-muted Email
                                                        |                 
                                                        input.form-control(type="text", value="", placeholder="Email")
                                                    |               
                                                    .form-group
                                                        h6.form-text.text-muted Password
                                                        |                 
                                                        input.form-control(type="password", value="", placeholder="Password")
                                                    |                 
                                                    button.btn.btn-block  Register
                                        .box
                                            .recoveryBox(style="display: none;")
                                                form#recovery(action="/recovery", method="post") 
                                                    .form-group
                                                        h6.form-text.text-muted Recovery Email
                                                        |                 
                                                        input.form-control(type="email", name="email" value="", placeholder="scholarship@scholar.org", required)
                                                    button.btn.btn-block(type="submit") Submit
                                                    span.text-muted.text-center
                                                        | Already have an account?
                                                        a(href="javascript: showLoginForm();")  Login.
                                    .modal-footer
                                        span.text-muted.text-center.login
                                            | Do not have an account?
                                            a(href='javascript: showRegisterForm();')  Register.
                                        .forgot.register-footer(style="display: none;")
                                            span.text-muted.text-center
                                                | Already have an account?
                                                a(href="javascript: showLoginForm();")  Login.
                                            

                //
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="hidden-lg-up">Twitter</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="hidden-lg-up">Facebook</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="hidden-lg-up">Instagram</p>
                    </a>
                    </li>
        // End Navbar
    script.
        $(function(){
           if(window.location.href.includes('unauthorized')){
               $.toast({
                    heading: 'Unauthorized!',
                    text:'Please Login to Access this Portal',
                    icon:'warning',
                    position: 'top-center',
                    loader: false,
                    stack : false,
                    hideAfter : 6000
                })
           }
           else if(window.location.href.includes('logout')){
               $.toast({
                    heading: 'Log off',
                    text:'You Have Log-out to Scholarship Management System',
                    icon:'success',
                    position: 'top-center',
                    loader: false,
                    stack : false,
                    hideAfter : 6000
                })
           }
        });
        function showRegisterForm(){
            $('.loginBox').fadeOut('fast',function(){
                $('.recoveryBox').fadeOut('fast');
                $('.registerBox').fadeIn('fast');
                $('.login').fadeOut('fast',function(){
                    $('.register-footer').fadeIn('fast');
                });
                $('#title').html('Register');
                $('#text').html('');
            }); 
            $('.error').removeClass('alert alert-danger').html('');
                
        }
        function showLoginForm(){
            $('#loginModal .registerBox').fadeOut('fast',function(){
                $('#loginModal .recoveryBox').fadeOut('fast')
                $('.loginBox').fadeIn('fast');
                $('.register-footer').fadeOut('fast',function(){
                    $('.login').fadeIn('fast');    
                });
                
                $('#title').html('Scholarship');
                $('#text').html('Log in to your account');
            });       
            $('.error').removeClass('alert alert-danger').html('');
            
            
        }
        function showRecoveryForm(){
            $('#loginModal .loginBox').fadeOut('fast',function(){
                $('#loginModal .registerBox').fadeOut('fast')
                $('.recoveryBox').fadeIn('fast');
                $('.register-footer').fadeOut('fast',function(){
                    $('.login').fadeIn('fast');    
                });
                
                $('#title').html('Account Recovery');
                $('#text').html('');
            });       
            $('.error').removeClass('alert alert-danger').html('');

        }
        $('form#recovery').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/recovery',
                method: 'post',
                data: $(this).serialize(),
                success: function(response){
                    if(response == 'success'){
                        $.toast({
                            heading: 'Sent!',
                            text:'Recovery Email Sent',
                            icon:'success',
                            position: 'bottom-right',
                            loader: false,
                            stack : 3
                        })
                        $("#loginModal .close").click()
                    }
                    else if(response == 'error'){
                        $.toast({
                            heading: 'ERROR!',
                            text:'No Such Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
        })
        $('form#login').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/login',
                method: 'post',
                data: $(this).serialize(),
                success: function(response){
                    if(response == 'password'){
                        $.toast({
                            heading: 'ERROR!',
                            text:'Incorrect Password',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                    else if(response == 'exist'){
                        $.toast({
                            heading: 'ERROR!',
                            text:'No Such Account',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                    switch(response){
                        case 'home': window.location='/home';break;
                        case 'coordinator': window.location='/coordinator';break;
                        case 'user': window.location='/user';break;
                    }
                }
            })
        })

    block content
