extends ./base

block body
    style.
        .off-canvas-sidebar .nav li.active>a[data-toggle=collapse], .off-canvas-sidebar .nav li.active>a[data-toggle=collapse] i, .off-canvas-sidebar .nav li.active>a[data-toggle=collapse]~div>ul>li.active>a, .off-canvas-sidebar .nav li.active>a[data-toggle=collapse]~div>ul>li.active i, .sidebar .nav li.active>a[data-toggle=collapse], .sidebar .nav li.active>a[data-toggle=collapse] i, .sidebar .nav li.active>a[data-toggle=collapse]~div>ul>li.active>a, .sidebar .nav li.active>a[data-toggle=collapse]~div>ul>li.active i {
            color: #6bd098;
        }
    .wrapper
        .sidebar(data-color="brown", data-active-color="success" style="overflow-x: hidden;")
            //
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            .logo
                a.simple-text.logo-mini(href="#")
                    .logo-image-small
                        img(src="/img/logo1.png")
                |         
                a.simple-text.logo-normal(href="#")
                    | Scholarship
                    //
                        <div class="logo-image-big">
                        <img src="../../assets/img/logo-big.png">
                        </div>

            |       
            .sidebar-wrapper(style="padding-bottom: -20px;")
                .user
                    .photo
                        img(src="/img/user.png")
                    |           
                    .info
                        a(href="/profile")
                            span
                                | Administrator
                        |             
                        .clearfix
                        
                |         
                ul.nav
                    li#dashboard
                        a(href="/home")
                            i.material-icons dashboard
                            |                     
                            p  Dashboard 
                    //- li
                    //-     a(href="/budget")
                    //-         i.material-icons local_parking
                    //-         |                     
                    //-         p  Budget             
                                
                    li#maintenan
                        a(data-toggle="collapse", href="#maintenance")
                            i.material-icons category
                            |                     
                            p
                                | Maintenance 
                                b.caret
                        |                 
                        #maintenance.collapse
                            ul.nav(style="margin-left: 5px;")
                                li#municipal
                                    a(data-toggle="collapse", href="#Municipality")
                                        i.material-icons(style="font-size: 20px;") business
                                        |                     
                                        p &nbsp;Municipality 
                                            b.caret
                                    |
                                    #Municipality.collapse
                                        ul.nav
                                            li#barangay
                                                a(href="/maintenance/barangay")
                                                    span.sidebar-mini-icon  B            
                                                    span.sidebar-normal  Barangay 
                                            li#district
                                                a(href="/maintenance/district")
                                                    span.sidebar-mini-icon  D            
                                                    span.sidebar-normal  District

                                li#educ
                                    a(data-toggle="collapse", href="#Education")
                                        i.material-icons(style="font-size: 22px;") location_city
                                        |                     
                                        p &nbsp;Education 
                                            b.caret
                                    |
                                    #Education.collapse
                                        ul.nav
                                            li#school
                                                a(href="/maintenance/school")
                                                    span.sidebar-mini-icon  S            
                                                    span.sidebar-normal  School 
                                            li#course
                                                a(href="/maintenance/course")
                                                    span.sidebar-mini-icon  C            
                                                    span.sidebar-normal  Course 
                                            li#grading
                                                a(href="/maintenance/grade")
                                                    span.sidebar-mini-icon  G            
                                                    span.sidebar-normal  Grading Type 
                                            li#credit
                                                a(href="/maintenance/credit")
                                                    span.sidebar-mini-icon  C            
                                                    span.sidebar-normal  Credit 
                                li#scholar
                                    a(data-toggle="collapse", href="#Scholarship")
                                        i.material-icons(style="font-size: 21px;") school
                                        |                     
                                        p &nbsp;Scholarship 
                                            b.caret
                                    #Scholarship.collapse
                                        ul.nav
                                            li#requirements
                                                a(href="/maintenance/requirement")
                                                    span.sidebar-mini-icon  R            
                                                    span.sidebar-normal  Requirements
                    li#transact
                        a(data-toggle="collapse", href="#transaction")
                            i.material-icons layers
                            |                     
                            p
                                | Transaction 
                                b.caret
                        |                 
                        #transaction.collapse
                            ul.nav(style="margin-left: 5px;")          
                                li#application
                                    a(href="/transaction/application/sponsor")
                                        span.sidebar-mini-icon  A          
                                        span.sidebar-normal  Sponsor Application             
                    li#announcement
                        a(href="/announcement")
                            i.material-icons record_voice_over
                            |                     
                            p  Announcement
                    li#reports
                        a(href="/reports")
                            i.material-icons timeline
                            |                     
                            p  Reports
                        |                 
                        #transaction.collapse
                        //- ul.nav                         
                        //-   li
                        //-     a(href="/utilities")
                        //-       span.sidebar-mini-icon  A          
                        //-       span.sidebar-normal  Application 
                        //-   |                         
                        //-   li.nav-item
                        //-     a(href="/transaction/renewal")
                        //-       span.sidebar-mini-icon  R           
                        //-       span.sidebar-normal  Renewal
                    


        block panel