extends ./base

block body

    script.
        $(document).ready(function() {
            // get current URL path and assign 'active' class
            var pathname = window.location.pathname;
            $('ul > li > a[href="'+pathname+'"]').parent().addClass('active').siblings().removeClass('active');
        })
        $(document).ready(function() {
                $sidebar = $('.sidebar');
                
            });

    .wrapper
        .sidebar(data-color="brown", data-active-color="primary" style="overflow-x: hidden;")
            //
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            .logo
                a.simple-text.logo-mini(href="#")
                    .logo-image-small
                        img(src="/img/logo1.png")
                |         
                a.simple-text.logo-normal(href="#")
                    | 2018-08042-MC-0
                    //
                        <div class="logo-image-big">
                        <img src="../../assets/img/logo-big.png">
                        </div>

            |       
            .sidebar-wrapper(style="padding-bottom: -20px;")
                .user
                    .photo
                        img(src="/img/avatar.jpg")
                    |           
                    .info
                        a.collapsed(data-toggle="collapse", href="#collapseExample")
                            span
                                | Jordan, Michael J.
                                
                        |             
                        .clearfix
                        
                |         
                ul.nav
                    li
                        a(href="/user")
                            i.material-icons dashboard
                            |                     
                            p  Dashboard 
                    li
                        a(href="/user/profile")
                            i.material-icons perm_identity
                            |                     
                            p  User Profile             
                    li
                        a(href="/user/message")
                            i.material-icons email
                            |                     
                            p  Messages
                    li
                        a(href="/user/accounts")
                            i.material-icons settings
                            |                     
                            p  Accounts            
                        //- ul.nav                         
                        //-   li
                        //-     a(href="/utilities")
                        //-       span.sidebar-mini-icon  A          
                        //-       span.sidebar-normal  Application 
                        //-   |                         
                        //-   li.nav-item
                        //-     a(href="/transaction/renewal")
                        //-       span.sidebar-mini-icon  R           
                        //-       span.sidebar-normal  Renewal
                    


        block panel